.sec {
    min-height: 30vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .sec1 {
    background: url("../img/img2.jpg") top center no-repeat;
  }

  .sec2 {
    background: url("../img/img7.jpg") top center no-repeat;
  }

  .sec3 {
    background: url("../img/img3.jpg") top center no-repeat;
  }

  .sec4 {
    background: url("../img/img4.jpg") top center no-repeat;
    margin-bottom: 20px;
  }
  
  .sec h1 {
    color : #ffff;
    font-size: 3em;
    font-family: 'Jacques Francois';
    position: relative;
    left: -100%;
  }

  a .sec {
    -webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
  }

  a:hover .sec {
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
  }

  a:hover .sec h1 {
    animation: pulse 0.5s ease-in;
    left: 0;
    opacity: 1;

  }

  @keyframes pulse {
    0% {
      left: -100%;
      opacity: 0;
    }
    100% {
      left: 0;
      opacity: 1;
    }
  }

  a {
    text-decoration: none;

  }

