.sec {
    min-height: 30vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .sec1 {
    background: url("../img/img2.jpg") top center no-repeat;
  }

  .sec2 {
    background: url("../img/img7.jpg") top center no-repeat;
  }

  .sec3 {
    background: url("../img/img3.jpg") top center no-repeat;
  }

  .sec4 {
    background: url("../img/img4.jpg") top center no-repeat;
    margin-bottom: 20px;
  }
  
  .sec h1 {
    color : #ffff;
    font-size: 3em;
    font-family: 'Jacques Francois';
  }

  a .sec {
    -webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
  }

  a:hover .sec {
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
  }

  a {
    text-decoration: none;

  }

  .container {
    columns: 3;
    margin-left: 5%;
    margin-right: 5%;
}

.container > p {
    color: black;
    font-family: 'Jacques Francois';
    font-size: 1.2em;
    font-weight: 500;
    line-height: 1.4;
    padding: 20px;
}