

  header {
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center; 
  }

  li {
    
    display: inline-block;
    margin-right: 50px; 

  }

  .link {
    text-decoration: none;
    color: black;
    font-family: 'Jacques Francois';
    font-size: 0.9em;
    font-weight: 500;
  }

  .link:hover {
    text-decoration: line-through;
  }

  .link:active {
    text-decoration: line-through;
  }

  @media (max-width: 700px) { 
    li {
        display: block;
        padding: 5px;
    }

    header {
      height: 20vh;
      justify-content: flex-start;
      padding-left: 10px;
    }

    .link {
      font-size: 1em;
    }
}